<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form #formLogin="ngForm">
        <h1>Login</h1>
        <div class="form-group">
          <label for="username">Username</label>
          <div class="control">
            <input class="form-control" type="text" placeholder="Enter Username" [(ngModel)]="user.username"
              name="username" id="username" required>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <div class="control">
            <input class="form-control" type="password" placeholder="Enter Password" [(ngModel)]="user.password"
              name="password" id="password" required>
          </div>
        </div>

        <button [disabled]="formLogin.form.invalid" class="btn btn-success btn-lg"
          (click)="login(); formLogin.reset();">Login</button>

        <br/>
        <br/>

        <div class="form-group" *ngIf="this.errorService.count() > 0">
          <div *ngFor="let message of this.errorService.getMessages()">
            <p class="alert alert-danger" role="alert">{{ message }}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- </div> -->



<!-- <form #formLogin="ngForm">
    
    <div>
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" [(ngModel)]="user.username" name="username" required>
    
    <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="user.password" name="psw" required>

      <button [disabled]="formLogin.form.invalid" (click)="login(); formLogin.reset();">Login</button>
    </div>
    
  </form>
  
  <div *ngIf="this.errorService.count() > 0">
    <div *ngFor="let message of this.errorService.getMessages()">
      <p>{{ message }}</p>
    </div>
  </div>

  <br />
  <br />
  <br />

  <button (click)="irParaCadastro()">Ir para Cadastro</button> -->
<!-- </div> -->