.container{
  margin-top: 10%;
  height: 50px;
  width: 50%;
}

form {
  // background-color: #FFAB0E;
  border-radius: 7px;
  border: 1px solid;
  padding: 20px;
  box-shadow: 1px 1px;
  
}

.container h1 {
  text-align: center;
}

  button {
  margin-top: 20px;
  width: 100%;
}