// img {
//   width: 20px; 
//   height: 20px;
// }

.container {
  margin-top: 10px;
}

li, a {
  color: #007bff;
}

nav {
  text-align: center; 
  width: 20%; 
  margin-left: auto; 
  margin-right: auto;
}