<div class="container">
  <div class="row">
    <h4 class="title">Beer's List</h4>
  </div>
  <div class=" form-group">
    <input type="text" placeholder="Search here" class="form-control" [(ngModel)]="searchField" (keyup)="search()" />

    <div class="form-group">
      <label for="selectOptions"></label>
      <select class="form-control" [(ngModel)]="type" (change)="search()">
        <option value=""></option>
        <option value="name">Name</option>
        <option value="food">Food</option>
        <option value="abvGt">AbvGt</option>
        <option value="abvLt">AbvLt</option>
        <option value="ibuGt">IbuGt</option>
        <option value="ibuLt">IbuLt</option>
        <option value="ebcGt">EbcGt</option>
        <option value="ebcLt">EbcLt</option>
        <option value="yeast">Yeast</option>
        <option value="brewedBefore">Brewed Before</option>
        <option value="brewedAfter">brewed After</option>
        <option value="hops">Hops</option>
        <option value="ebcLt">EbcLt</option>
        <option value="malt">Malt</option>
        <option value="ids">Ids</option>
      </select>
    </div>
  </div>
  <div class="col-sm-4">

  </div>


  <div class="table-responsive">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Tagline</th>
          <th scope="col">ABV</th>
          <th scope="col">First Brewed</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody *ngIf="beers?.length > 0">
        <tr *ngFor="let beer of beers">
          <th scope="row">{{ beer.name }}</th>
          <th scope="row">{{ beer.tagline }}</th>
          <th scope="row">{{ beer.abv }}</th>
          <th scope="row">{{ beer.first_brewed }}</th>
          <th scope="row">
            <!-- <img [src]="beer.image_url" alt="Beer Image"> -->
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <nav>
    <ul class="pagination" name="page">
      <li class="page-item">
        <a class="page-link" [routerLink]="" (click)="backIndex();">Prev</a>
      </li>
      <li class=" page-item">
        <a [routerLink]="" (click)="changePage(1);" class="page-link">1</a>
      </li>
      <li class=" page-item" (click)="changePage(2);">
        <a [routerLink]="" class="page-link">2</a>
      </li>
      <li class=" page-item">
        <a [routerLink]="" class="page-link" (click)="changePage(3);">3</a>
      </li>
      <li class="page-item">
        <a [routerLink]="" class="page-link" (click)="goToPage();">Next</a>
      </li>
    </ul>
  </nav>
</div>